.bpc-row {
	display: flex;
	flex-flow: row wrap;
	margin-left: -15px;
	margin-right: -15px;
}

.bpc-item {
	margin: 15px 0;
	padding: 0 15px;
	flex: 0 0 100%;
	max-width: 100%;
}

.bpc-item__header {
	position: relative;
	font-weight: bold;
	color: #576575;
	margin-bottom: 5px;
}
